allow system_app sysfs_swap:file r_file_perms;

allow system_app sysfs_socinfo:file r_file_perms;
allow system_app sysfs_socinfo:dir r_dir_perms;

allow system_app proc_pagetypeinfo:file r_file_perms;
allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file r_file_perms;
